.signal {
  width: 24px;
  padding: 4px;

  &_bar {
    stroke: #EBEBEB;

    &__success {
      stroke: #2DBA00;
    }
    &__warning {
      stroke: #EE9900;
    }
    &__danger {
      stroke: #FF0000;
    }
  }

  &_label {
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline overline;

    &__success {
      color: #2DBA00;
    }
    &__warning {
      color: #EE9900;
    }
    &__danger {
      color: #FF0000;
    }
  }
}