.signal {
  width: 24px;
  padding: 4px;
  color: #2DBA00;

  &_bar {
    stroke: #EBEBEB;

    &__active {
      stroke: #2DBA00;
    }
  }

  &_label {
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline overline;

    &__disabled {
      color: #252525;
    }

    &__off {
      color: #FF0000;
    }
  }
}