<div class="signal">
  <svg xmlns="http://www.w3.org/2000/svg" :width="size" :height="size" viewBox="0 0 128 128">
    <g display="inline" transform="translate(3 10)">
      <path stroke="#000" stroke-width="18" stroke-linecap="square" class="signal_bar" :class="barClass(1)" d="M9 98v-13"></path>
      <path stroke="#000" stroke-width="18" stroke-linecap="square" class="signal_bar" :class="barClass(2)" d="M35 98v-35"></path>
      <path stroke="#000" stroke-width="18" stroke-linecap="square" class="signal_bar" :class="barClass(3)" d="M61 98v-53"></path>
      <path stroke="#000" stroke-width="18" stroke-linecap="square" class="signal_bar" :class="barClass(4)" d="M87 98v-71"></path>
      <path stroke="#000" stroke-width="18" stroke-linecap="square" class="signal_bar" :class="barClass(5)" d="M113 98v-89"></path>
    </g>
  </svg>
  <div class="signal_label" :class="htmlClassLabel">{{ label }}</div>
</div>