.layout {
  height: 100%;
  &_body {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_foot {
    min-height: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    color: #FFFFFF;
    position: relative;

    &__corner:after {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 5px);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #FFFFFF;
    }
  }
}