.target-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  position: absolute;
  width: 100%;
  height: 100%;

  &_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.1;
    z-index: 1000;
    top: 0;
  }

  &_z-index {
    z-index: 1000;
  }
}