.run-process {
  overflow: auto;
  user-select: none;
  width: 100%;

  &_road {
    height: 4px;
    width: 80%;
    margin: 30px auto;
    background-color: #252525;
    border-radius: 2px;
    position: relative;

    &__behind {
      width: 100%;
      height: 100%;
      background: #2DBA00;
    }

    &__label {
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #2DBA00;
      padding: 4px;

      @media screen and (max-width: 300px) {
        display: none;
      }
    }
  }

  &_mark {
    position: absolute;

    &__delimiter {
      position: absolute;
      top: 2px;
      width: 1px;
      height: 4px;
      background-color: #252525;
    }
    &__text {
      position: absolute;
      width: 80px;
      left: 0;
      top: 4px;
    }

    &__right {
      right: 0;
      left: unset;
      text-align: right;
    }

    &__top {
      top: -10px;
    }

    &__position {
      position: absolute;
      top: -32px;
      left: -5px;
    }

    &__finish {
      position: absolute;
      top: -18px;
      right: -12px;
    }
  }
}