<div class="run-process">
  <div class="run-process_road">

    <div class="run-process_road__behind" :style="{ width: `${percent}%` }"></div>

    <div class="run-process_mark" style="left: 0">
      <div class="run-process_mark__delimiter"></div>
      <div class="run-process_mark__text">{{ unit(start) }}</div>
    </div>

    <div class="run-process_mark" :style="{ left: `${percent}%` }" v-if="target > 0">
      <div class="run-process_mark__delimiter run-process_mark__top"></div>
      <div class="run-process_mark__text run-process_mark__position">
        <i class="oi oi-map-marker"></i>
        <span>{{ unit(value) }}</span>
      </div>
    </div>

    <div class="run-process_mark" style="left: 100%">
      <div class="run-process_mark__delimiter"></div>
      <div class="run-process_mark__text run-process_mark__right">{{ unit(target) }}</div>
    </div>

    <div class="run-process_road__label" v-if="label">
      {{ label }}
    </div>
  </div>
</div>