.timer {
  color: #252525;
  width: 100%;

  & svg {
    fill: #252525;
  }

  &_time {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  &__disabled {
    color: #EBEBEB;

    & svg {
      fill: #EBEBEB;
    }
  }

  &__pause {
    animation-name: Timer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes Timer {
      from {
        color: #252525;
      }
      to {
        color: #EBEBEB;
      }
    }
  }
}