
<Day :day="day" @onClick="onClick">
  <template slot="body">
    <div class="day-run day-run_mark" v-if="hasDistance && day.isNow">
      <i class="oi oi-timer" v-if="resultDistance === 0"></i>
      <i class="oi oi-thumb-up" v-if="resultDistance >= expectDistance"></i>
      <i class="oi oi-check" v-if="resultDistance > 0 && resultDistance < expectDistance"></i>
    </div>

    <div class="day-run day-run_mark" v-if="hasDistance && day.isBeforeNow">
      <i class="oi oi-thumb-down" v-if="resultDistance === 0"></i>
      <i class="oi oi-thumb-up" v-if="resultDistance >= expectDistance"></i>
      <i class="oi oi-check" v-if="resultDistance > 0 && resultDistance < expectDistance"></i>
    </div>

    <div class="day-run day-run_result" v-if="hasDistance && resultDistance > 0">
      {{ resultDistance }} {{ unit }}
    </div>

    <span>{{ day.number }}</span>

    <div class="day-run day-run_target" v-if="hasDistance">
      {{ expectDistance }} {{ unit }}
    </div>
  </template>
</Day>