
<Day :day="day" @onClick="onClick">
  <template slot="body">
    <div class="day-run day-run_mark" v-if="hasDistance && expectDistance > 0 && day.isNow">
      <VueIcon name="timer" v-if="resultDistance === 0"/>
      <VueIcon name="thumb-up" v-if="resultDistance >= expectDistance"/>
      <VueIcon name="check" v-if="resultDistance > 0 && resultDistance < expectDistance"/>
    </div>

    <div class="day-run day-run_mark" v-if="hasDistance && expectDistance > 0 && day.isBeforeNow">
      <VueIcon name="thumb-down" v-if="resultDistance === 0"/>
      <VueIcon name="thumb-up" v-if="resultDistance >= expectDistance"/>
      <VueIcon name="check" v-if="resultDistance > 0 && resultDistance < expectDistance"/>
    </div>

    <div class="day-run day-run_result" v-if="hasDistance && resultDistance > 0">
      {{ resultDistance }} {{ unit }}
    </div>

    <span>{{ day.number }}</span>

    <div class="day-run day-run_target" v-if="hasDistance && expectDistance > 0">
      {{ expectDistance }} {{ unit }}
    </div>
  </template>
</Day>