
<Layout :showCorner="true">
  <template slot="body">

    <div class="settings">

      <div class="settings_container">

        <Spinner :loading="processing" />

        <Row class="my-3">
          <Cell beforeContent="Список устройств" class="mx-2">
            <FieldSelect name="device" :options="bluetoothDeviceSList" :value="bluetoothDeviceKey" @onSelect="onSelectDevice"/>
          </Cell>
        </Row>

        <Row>
          <Cell class="mx-2">
            <Button skin="green" @click="detectDevice" :disabled="disableDetectButton" width="100%">{{ renderButtonName }}</Button>
          </Cell>
        </Row>

        <Row v-if="message" class="mx-2">
          <Cell size="xs" :beforeContent="message" />
        </Row>

      </div>
    </div>

  </template>

  <template slot="foot">

    <div class="settings">

      <div class="settings_panel">

        <Row class="my-2">
          <Cell :beforeContent="title" align="center" />

          <Cell v-if="bluetoothDevice" alignContainer="center">
            <Button skin="orange" @click="startHRM" v-if="!hrmIsActive" :disabled="processing" class="my-3 mx-3">HRM старт</Button>
            <Button skin="orange" @click="stopHRM" v-if="hrmIsActive" :disabled="processing" class="my-3 mx-3">HRM стоп</Button>
          </Cell>
        </Row>
      </div>

      <div class="settings_hrm">
        <div class="settings_hrm__value">{{ hrm }}</div>
        <VueIcon name="heart" color="#ffffff" size="30px" :class="heartClass" />
      </div>
    </div>

  </template>
</Layout>