
<Layout :showCorner="true">
  <template slot="body">

    <div class="settings">

      <div class="settings_container">

        <Spinner :loading="processing" />

        <Row class="my-3">
          <Cell beforeContent="Список устройств" class="mx-2">
            <FieldSelect name="device" :options="bluetoothDeviceSList" :value="bluetoothDeviceKey" @onSelect="onSelectDevice"/>
          </Cell>
        </Row>

        <Row>
          <Cell class="mx-2">
            <Button skin="green" @click="detectDevice" :disabled="buttonIsDisabled" width="100%">Подключить</Button>
          </Cell>
        </Row>

        <Row class="mt-3" v-if="errorMessage">
          <Cell size="xs" :underline="true" :align="true" :beforeContent="errorMessage" />
        </Row>

      </div>
    </div>

  </template>

  <template slot="foot">

    <div class="settings">

      <Row class="my-4" v-if="!bluetoothDevice">
        <Cell class="mx-3" beforeContent="Устройство не подключено" align="center" />
      </Row>

      <div class="settings_panel" v-if="bluetoothDevice">
        <Button skin="white" @click="startHRM" v-if="!hrmIsActive" class="my-3 mx-3">HRM старт</Button>
        <Button skin="white" @click="stopHRM" v-if="hrmIsActive" class="my-3 mx-3">HRM стоп</Button>
      </div>

      <div class="settings_hrm">
        <div class="settings_hrm__value">{{ hrm }}</div>
        <VueIcon name="heart" color="#ffffff" size="30px" :class="heartClass" />
      </div>
    </div>

  </template>
</Layout>