.square-area {
  display: flex;

  &_break-line {
    flex-wrap: wrap;
  }

  &_v-position {
    &__center {
      align-items: center;
    }
  }
  &_h-position {
    &__center {
      justify-content: center;
    }
  }
}