.grid-cell {
  width: 100%;

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_container {
    width: 100%;
    border-radius: 2px;

    &__shadow {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
    }

    &__hover {
      &:hover {
        cursor: pointer;
        background: #F8F8FF;
      }
    }
  }

  &_content {

    &__underline {
      border-bottom: solid 3px #EB9B00;
    }

    &__xs {
      font-size: 12px;
    }

    &__sm {
      font-size: 16px;
    }

    &__md {
      font-size: 20px;
    }

    &__lg {
      font-size: 26px;
    }

    &__xlg {
      font-size: 32px;
    }

    &__xxlg {
      font-size: 32px;
    }

    &__bold {
      font-weight: bold;
    }
  }

  &_after {
    color: #8E8E8E;
    font-size: 12px;
  }

  &_before {
    color: #8E8E8E;
    font-size: 12px;
  }
}