.grid-cell {
  width: 100%;

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }

  &_container {
    border-radius: 2px;
    display: inline-block;

    &__pxs {
      padding: 2px 4px;
    }

    &__psm {
      padding: 4px 8px;
    }

    &__pmd {
      padding: 6px 12px;
    }

    &__plg {
      padding: 8px 16px;
    }

    &__hover {
      &:hover {
        cursor: pointer;
        background: #F8F8FF;
      }
    }
  }

  &_content {

    &__underline {
      border-bottom: solid 3px #EB9B00;
    }

    &__xs {
      font-size: 12px;
    }

    &__sm {
      font-size: 16px;
    }

    &__md {
      font-size: 20px;
    }

    &__lg {
      font-size: 26px;
    }

    &__xlg {
      font-size: 32px;
    }

    &__xxlg {
      font-size: 32px;
    }

    &__bold {
      font-weight: bold;
    }
  }

  &_after {
    color: #8E8E8E;
    font-size: 12px;
  }

  &_before {
    color: #8E8E8E;
    font-size: 12px;
  }
}