.run-process {
  user-select: none;

  &_road {
    height: 4px;
    width: 80%;
    margin: 30px auto;
    background-color: #252525;
    border-radius: 2px;
    position: relative;

    &__behind {
      width: 100%;
      height: 100%;
      background: #2DBA00;
    }
  }

  &_mark {
    position: absolute;

    &__delimiter {
      position: absolute;
      top: 6px;
      width: 1px;
      height: 4px;
      background-color: #252525;
    }
    &__text {
      position: absolute;
      width: 80px;
      left: 0;
      top: 8px;
    }

    &__right {
      right: 0;
      left: unset;
      text-align: right;
    }

    &__top {
      top: - 6px;
    }

    &__position {
      position: absolute;
      top: -24px;
      left: -4px;
    }

    &__finish {
      position: absolute;
      top: -18px;
      right: -12px;
    }
  }
}