
.month {
  border-radius: 2px;
  border: solid 1px transparent;
  user-select: none;

  &_skin {

    &__dark {
      background-color: #000000;
    }
  }

  &_head {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;

    &__swith {
      width: 40px;
      cursor: pointer;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__center {
      width: calc(100% - 80px);
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    &__year {
      text-align: center;
      width: 50%;
    }
    &__month {
      text-align: center;
      width: 50%;
    }
  }

  &_body {

  }

  &_week {
    display: flex;
    flex-wrap: wrap;

    &__header {
      font-weight: bold;
    }
  }

  &_disabled {
    pointer-events: none;
  }
}