
<div class="month month_skin__dark" :class="htmlClass">

  <div class="month_head">
    <div class="month_head__left" v-if="showArrow" @click="prev(month)">
      <VueIcon color="#CCCCCC" name="chevron-left" />
    </div>
    <div class="month_head__center">
      <div class="month_head__month">{{ month.getName(locale) }}</div>
      <div class="month_head__year">{{ month.year }}</div>
    </div>
    <div class="month_head__right" v-if="showArrow" @click="next(month)">
      <VueIcon color="#CCCCCC" name="chevron-right" />
    </div>
  </div>
  <div class="month_body">
    <div class="month_week month_week__header">
      <Day :key="dayIndex" :day="day" v-for="(day, dayIndex) of month.weekDays" :head="true">
        <template slot="head">{{ day.getNameShort(locale) }}</template>
      </Day>
    </div>

    <div class="month_week">
      <slot name="week">
        <template v-for="(weeks, weekIndex) of month.weeks">
          <Day :key="`${weekIndex}-${dayIndex}`" :day="day" v-for="(day, dayIndex) of weeks.days" @onClick="selectDay">
            <template slot="body">{{ day.number }}</template>
          </Day>
        </template>
      </slot>
    </div>

  </div>
</div>