
.day {
  position: relative;
  flex: 0 0 calc(14.285714285714286% - 4px);
  border: solid 1px transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 3vw;

  @media screen and (min-width: 769px) {
    font-size: 18px;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &__today {
    background-color: #000;
    border: solid 1px #999 !important;
  }

  &__bordered {
    border: solid 1px #555555;
  }

  &__disabled {
    color: #555555;
    border: solid 1px #333;
  }

  &__hover:hover {
    cursor: pointer;
    background: #333333;
    border: solid 1px #555555;
  }

  &__active {
    border: solid 1px #999999 !important;
    &:hover {
      border: solid 1px #999999;
    }
  }
}