.confirm {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #252525;
  background: #FFFFFF;
  border-top: solid 1px #252525;
  font-size: 16px;

  &_body {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      padding: 10px;
    }
  }

  &_foot {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
  }

  &_btn {
    width: calc(50% - 2px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}