.tempo {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &_background {
    background: #FFFFFF;
    overflow: auto;
  }

  &_container {
    width: 100%;
    min-height: 250px;
    display: flex;

    &__column {
      flex-direction: column;
    }

    &__center {
      justify-content: center;
    }
  }

  &_label {
    font-size: 10px;
    color: #8E8E8E;
  }

  &_distance {
    line-height: 1.4;

    &__label {
      color: #8E8E8E;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}