.tempo {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &_background {
    background: #FFFFFF;
    overflow: auto;
    padding: 15px 0;
  }

  &_corner {
    position: absolute;
    display: flex;

    &__right-top {
      right: 15px;
      top: 10px;
    }
  }

  &_body {
    width: 100%;
    min-height: 250px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_foot {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &_label {
    font-size: 10px;
    color: #8E8E8E;
  }

  &_distance {
    line-height: 1.4;

    &__label {
      color: #8E8E8E;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
}