
<Layout :showCorner="true" :showFoot="!isViewVisible('details-activity')">
  <template slot="body">

    <Spinner :loading="loading"/>

    <WrapCorner v-if="isViewVisible(['list-activities', 'no-activities'])">
      <Tooltip content="Добавить активность" placement="bottom">
        <Button size="30px" icon="plus" shape="square" @click="showViewFormActivity"/>
      </Tooltip>
    </WrapCorner>

    <WrapCorner v-if="isViewVisible('details-activity')">
      <Tooltip v-if="selectedActivity.type === 1" class="mx-1" :content="imgTooltip" :show="isVisibleImgTooltip" trigger="manual" placement="bottom">
        <Button size="30px" icon="image" shape="square" @click="makeScreen" :disabled="isDisabledBtnMakeScreen"/>
      </Tooltip>
      <Tooltip content="Удалить активность" placement="bottom">
        <Button size="30px" icon="trash" skin="gray" shape="square" @click="showConfirmRemoveActivity"/>
      </Tooltip>
    </WrapCorner>

    <Confirm
      icon="trash"
      btnNo="Нет"
      btnYes="Да"
      text="Вы уверены что хотите удалить активность?"
      :show="confirmRemoveEnable"
      @clickNo="cancelRemoveActivity"
      @clickYes="confirmRemoveActivity"
    />

    <div id="tempo-background" class="tempo_background">
      <Title :description="viewTitleDescription">
        {{ viewTitle }}
      </Title>

      <div v-if="isViewVisible('details-activity')">
        <Row class="my-2">
          <Cell align="center" :bold="true" size="xlg" class="tempo_distance">
            <template slot="content">
              <span>{{ activityPathLength(selectedActivity) }}</span>
              <span class="tempo_distance__label">км</span>
            </template>
          </Cell>
        </Row>

        <Row>
          <Cell afterContent="Самый быстрый" :content="upperTempoString(selectedActivity)" align="center" :bold="true" size="lg" />
          <Cell afterContent="Средний темп" :content="avgTempoString(selectedActivity)" align="center" :bold="true" size="lg" />
          <Cell afterContent="Самый медленный" :content="lowerTempoString(selectedActivity)" align="center" :bold="true" size="lg" />
        </Row>

        <div class="mt-4 mx-2">
          <Row v-for="(distance, key) of distances(selectedActivity)" :key="key" class="my-1">
            <Cell :beforeContent="avgHRM(distance)">
              <Rate
                :value="distanceTempoTime(distance)"
                :skin="distanceRateSkin(distance)"
                :min="0"
                :max="maxTempo(selectedActivity)"
              >
                <template slot="before">{{ distanceNumber(selectedActivity, distance) }}</template>
                <template slot="center">{{ distanceToTempoString(distance) }}</template>
                <template slot="after">{{ distanceTime(selectedActivity, distance) }}</template>
              </Rate>
            </Cell>
          </Row>
        </div>

        <div class="mt-4 mr-4">
          <Row>
            <Cell beforeContent="Частота пульса (уд/м)" :align="true" />
          </Row>
          <HRMChart :points="hrmPoints(selectedActivity)" />
        </div>
      </div>

      <div v-if="isViewVisible('list-activities')" class="tempo_container tempo_container__column px-2">
        <SquareArea alignHorizontal="center">
          <SquareItem @click="openActivity(activity)" :key="key" v-for="(activity, key) of activities">
            <template slot="image">
              <Rating :label="activityPathLength(activity) + ' км'" />
            </template>
            <template slot="title">
              <VueIcon v-if="activity.type === 1" name="map-marker" :size="12" color="#7CCE67" />
              <VueIcon v-if="activity.type === 2" name="pencil" :size="12" color="#EB9B00" />
              <span class="mx-2">{{ activityName(activity) }}</span>
            </template>
            <template slot="description">Средний темп {{ avgTempoString(activity) }}</template>
          </SquareItem>
        </SquareArea>
      </div>
    </div>

    <Row v-if="isViewVisible('details-activity')" class="mt-2 mb-4">
      <Cell :alignContainer="true">
        <template slot="content">
          <Button skin="orange" text="Список активностей" @click="closeActivity" />
        </template>
      </Cell>
    </Row>

    <div v-if="isViewVisible('no-activities')" class="tempo_container tempo_container__column tempo_container__center">
      <Row>
        <Cell content="Нет активностей" :beforeContent="activityEmpty" :align="true" />
      </Row>
    </div>

    <div v-if="isViewVisible('form-activity')" class="tempo_container tempo_container__column tempo_container__center">
      <TempoForm @save="saveActivity" @cancel="showPrevView" />
    </div>

  </template>

  <template slot="foot">
    <CalendarRun
      v-if="calendarActivityKey"
      :key="calendarActivityKey"
      @activeDay="activeDay"
      @selectDay="selectDay"
      @changeMonth="changeMonth"
      :calendarActivity="calendarActivity"
      :monthDate="selectedMonthDate"
    />
  </template>
</Layout>
