.button {
  min-width: 160px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background: #252525;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 359px) {
    min-width: 120px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &__icon {
    font-size: 20px;
    margin: 16px 0 0 4px;
  }

  &__text {
    font-size: 14px;
    font-weight: bold;
  }

  &__disabled {
    opacity: 0.5 !important;
    background: #EFEFEF !important;
    color: #D2D2D2 !important;

    &:hover {
      cursor: not-allowed;
    }
  }

  &__white {
    background: #FFFFFF;
    border: solid 1px #999999;
    color: #252525;

    &:hover {
      background: #F8F8FF;
    }
  }

  &__orange {
    background: #EB9B00;
    border: solid 1px #EB9B00;
  }

  &__green {
    background: #2DBA00;
    border: solid 1px #2DBA00;
  }

  &__red {
    background: #C92C00;
    border: solid 1px #C92C00;
  }

  &__blue {
    background: #1E6EBE;
    border: solid 1px #1E6EBE;
  }
}