.button {
  padding: 0 20px;
  height: 40px;
  border: none;
  background: #252525;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    fill: #FFFFFF;
  }

  @media screen and (max-width: 359px) {
    min-width: 120px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &__icon {
    font-size: 20px;
    margin: 0 10px;
    width: 4vw;
    height: 4vw;
  }

  &__text {
    font-size: 14px;
    font-weight: bold;
  }

  &__disabled {
    opacity: 0.6 !important;
    background: #252525 !important;
    border: solid 1px #252525 !important;
    color: #D2D2D2 !important;

    &:hover {
      cursor: not-allowed;
    }
  }

  &__white {
    background: #FFFFFF;
    border: solid 1px #999999;
    color: #252525;

    & svg {
      fill: #252525;
    }

    &:hover {
      background: #F8F8FF;
    }
  }

  &__orange {
    background: #EE9900;
    border: solid 1px #EE9900;
  }

  &__green {
    background: #2DBA00;
    border: solid 1px #2DBA00;
  }

  &__red {
    background: #C92C00;
    border: solid 1px #C92C00;
  }

  &__blue {
    background: #1E6EBE;
    border: solid 1px #1E6EBE;
  }

  &_shape {

    &__round {
      border-radius: 50%;
    }
  }
}