.button {
  padding: 0 20px;
  height: 34px;
  border: none;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;

  & svg {
    fill: #FFFFFF;
  }

  &__icon {
    font-size: 20px;
    width: 4vw;
    height: 4vw;
  }

  &_animate {
    animation-name: Circle;

    &__round {
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes Circle {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0);
      }
    }
  }

  &__text {
    font-weight: bold;
    margin: 0 10px;
  }

  &__white {
    background: #FFFFFF;
    border: solid 1px #7CCE67;
    color: #7CCE67;

    & svg {
      fill: #7CCE67;
    }

    &:hover {
      background: #F8F8FF;
    }
  }

  &__orange {
    background: #EE9900;
    border: solid 1px #EE9900;
  }

  &__black {
    background: #252525;
    border: solid 1px #252525;
  }

  &__gray {
    background: #FFFFFF;
    border: solid 1px #DFDFDF;

    & svg {
      fill: #DFDFDF;
    }
  }

  &__green {
    background: #2DBA00;
    border: solid 1px #2DBA00;
  }

  &__red {
    background: #C92C00;
    border: solid 1px #C92C00;
  }

  &__blue {
    background: #1E6EBE;
    border: solid 1px #1E6EBE;
  }

  &_shape {

    &__round {
      border-radius: 50%;
      padding: 0;
      width: 40px;
    }

    &__square {
      padding: 0;
      width: 40px;
    }
  }

  &__disabled {
    border: solid 1px #CCCCCC !important;
    background: #CCCCCC !important;
    color: #FFFFFF;

    & svg {
      fill: #FFFFFF;
    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
}