
<div class="tab">
  <div class="tab_panel">
    <div class="tab_panel__block">
      <div :key="tab.uuid" v-for="tab in tabItems.items" @click="onClick(tab)" :class="htmlClass(tab)" class="tab_item">
        <div>{{ tab.name }}</div>
      </div>
    </div>

    <div class="tab_panel__block">
      <slot name="panel-icon" />
    </div>
  </div>

  <div class="tab_content">
    <keep-alive :include="keepAliveComponents">
      <component :is="currentTabComponent" @forceRerender="forceRerender" :key="keyRerender" />
    </keep-alive>
  </div>

</div>