.geo-run {
  position: relative;
  min-height: 100px;

  &_head {
    overflow: auto;
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_controls {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    position: relative;
    width: 100%;
  }
}