<div class="geo-run">

  <Tab :items="tabItems">

    <template slot="panel-icon">
      <div class="text-danger" v-if="geo.emulator">
        <i class="oi oi-audio"></i>
        <span>эмулятор</span>
      </div>

      <Signal :value="geoSignalValue" :off="geoIsDisabled"/>
    </template>

    <template slot="content-activity">
      <div class="geo-run_body">

        <Timer :disabled="disabled" @onStart="beforeStar" @onStop="stop" @onNext="next" @onEnd="end" @onTick="onTimeUpdate">
          <Activity :tempo="tempo" :path="path" :speed="speed" :target="targetDistance" class="my-3"/>
          <div class="row mx-3" v-if="this.geoErrorMessage">
            <div class="col-12 text-center text-danger">{{ this.geoErrorMessage }}</div>
          </div>
        </Timer>

      </div>

      <Confirm
        btnYes="Включить"
        text="Включите GPS и повторите."
        :show="showConfirmGPS"
        @clickNo="cancelEnableGPS"
        @clickYes="enableGPS"
      />

    </template>

    <template slot="content-details">
      <Details/>
    </template>

    <template slot="content-tempo">
      <Tempo :day="day" :key="dayId" v-if="day"/>
    </template>

    <template slot="content-graph">
      content-graph
    </template>
  </Tab>

  <Countdown :show="showCountdown" @start="start"/>
  <CalendarRun :targetId="targetId" @activeDay="activeDay" @selectDay="selectDay" />

</div>