.wrap-corner {
  position: absolute;
  display: flex;

  &_left-top {
    left: 8px;
    top: 8px;
  }
  &_right-top {
    right: 8px;
    top: 8px;
  }
  &_left-bottom {
    left: 8px;
    bottom: 8px;
  }
  &_right-bottom {
    right: 8px;
    bottom: 8px;
  }
}