.rate {
  font-weight: bold;
  width: calc(100% - 20px);
  margin: 6px 10px;
  height: 22px;
  border: solid 1px #666666;
  background: #252525;
  color: #FFFFFF;
  position: relative;
  border-radius: 2px;

  &_cell {
    position: absolute;
    height: 20px;

    &__active {
      background: #2DBA00;
    }

    &__percent {
      width: 100%;
      text-align: center;
      z-index: 3;
    }

    &__before {
      width: 80px;
      padding-left: 5px;
      z-index: 2;
    }

    &__process {
      width: 100%;
      z-index: 1;
    }

    &__after {
      right: 0;
      width: 80px;
      padding-right: 5px;
      text-align: right;
    }
  }
}